@import './reset';
@import './base';
@import './palette';
@import './fonts';

@import './filter.scss';
@import './head.scss';
@import './current-weather.scss';
@import './forecast.scss';
@import './spinner.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./assets/bg.png');
    background-size: cover;
}

main {
    width: 910px;
    margin: 0 auto;
    height: 100vh;
    overflow: hidden;
}

@media screen and (max-width: 910px) {
    main {
        width: 100%
    }
}

@media screen and (max-width: 768px) {
    main {
         width: calc(100% - 40px);
    }
}
