@keyframes mainSpinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.mainSpinner {
    position: fixed;
    width: 50px;
    height: 50px;
    border: 3px solid $color3;
    border-top: 4px solid $color5;
    border-radius: 100%;
    top: 15%;
    right: 45%;
    margin: auto;
    animation: mainSpinner 1s infinite linear;
    z-index: 1;
}
